.index h2 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
}

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover;
  height: 788px;
}

.banner .desc {
  font-size: 36px;
  line-height: 54px;
  color: $color-title;
}

h1 {
  font-size: 64px;
  line-height: 96px;
  border: none;
  color: $color-title;
  margin-bottom: 4px;
}

.btn-buynow {
  padding: 5px 11px;
  font-weight: 500;
  background-color: $color-main;
  color: $color-white;
  border: 1px solid $color-main;
  font-size: 20px;
  line-height: 30px;
}

.banner .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.pro {
  background-color: $color-light;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 24px;
  }

  h2 {
    color: $color-title;
  }
}

.pro-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;

  .pro-item {
    display: flex;
    flex-direction: column;
    align-items: center;

    .pro-logo {
      max-width: 100px;
    }

    width: calc(25% - 18px);

    h3 {
      margin-top: 16px;
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 36px;
      font-weight: 700;
      color: $color-title;
    }

    .desc {
      line-height: 24px;
    }
  }
}

.classic {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  h2 {
    color: $color-title;
  }

  .classic-list {
    display: flex;
    gap: 24px;
  }

  .classic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    img {
      max-width: 416px;
    }
  }

  h3 {
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    font-style: italic;
    color: $color-main;
  }
}

.coop {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
  }

  background-image: url("../images/index-bg.png");
  background-size: cover;

  h2 {
    color: $color-white;
  }

  .sm {
    display: none;
  }

  .coop-list {
    display: flex;
    text-align: center;
  }

  h3 {
    font-size: 48px;
    line-height: 72px;
    color: $color-main;
    font-weight: 900;
    font-style: italic;
    background-color: $color-white;
    padding: 8px 0px;
  }
}

.recommend {
  .container {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
  }

  h2 {
    color: $color-title;
  }

  .list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .item {
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
    .content {
      padding: 16px;
    }
    .name {
      font-weight: 500;
      margin-bottom: 8px;
    }
    .name, .desc {
      line-height: 24px;
    }
    .desc {
      margin-bottom: 72px;
    }
    .date {
      font-size: 14px;
      line-height: 21px;
      color: #707070;
    }
  }
}

.contact-us {
  background-color: $color-light;
  h2 {
    color: $color-title;
  }

  .form-desc {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
  }
  .container {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .inputs {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .contact-form {
    width: 100%;
    label {
      line-height: 24px;
      display: block;
      margin-bottom: 8px;
    }
    
    .text {
      width: 100%;
      line-height: 24px;
      border: 1px solid black;
    }
    .name .text {
      height: 36px;
    }
    .tel, .email {
      .text {
        height: 33px;

      }
    }
  }
  .opinion .text {
    height: 136px;
  }
  .send {
    border: none;
    background-color: $color-main;
    color: $color-white;
    width: 416px;
    height: 56px;
    line-height: 24px;
    font-weight: 700;
    &:hover {
      background-color: $color-title;
    }
  }

  .privacy {
    .desc {
      display: inline-block;
      line-height: 24px;
    }
  }

}

@media (max-width: 992px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }

  .banner {
    background-image: url(../images/home-header-sm.png);
  }

  .pro-content {
    .pro-item {
      width: 47%;
    }
  }

  .classic {
    .classic-list {
      flex-wrap: wrap;
    }

    .classic-item {
      width: 100%;

      img {
        max-width: 336px;
      }
    }
  }

  .coop {
    background-image: url("../images/index-bg-md.png");

    .coop-list {
      flex-direction: column;
      gap: 24px;
    }
  }

  .recommend {
    .list {
      flex-wrap: wrap;
    }
    .item {
      width: calc(50% - 24px);
    }
  }

  .contact-us {
    .container {
      gap: 24px;
    }
    .form-desc {
      font-size: 16px;
      line-height: 24px;
    }
    .send {
      margin-top: 24px;
    }
  }
}

@media (max-width: 767px) {
  .index h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .banner {
    height: 396px;
    .desc {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .container {
    padding-left: 14px;
    padding-right: 14px;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
  }

  .btn-buynow {
    padding: 4px 11px 4px 11px;
  }

  .pro {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .pro-item {
      width: 100%;
    }
  }

  .classic {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 24px;
    }
  }

  .coop {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 24px;
    }

    .sm {
      display: initial;
    }

    .lg {
      display: none;
    }
  }

  .recommend {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 24px;
    }
    .item {
      width: 100%;
      max-width: 612px;
    }
  }
  .contact-us {
    .container {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 24px;
    }
    .privacy {
      display: flex;
      align-items: start;
    }
    .send {
      width: 100%;
      margin-top: 0;
    }
  }
}