.questions {
  padding-top: 96px;
  padding-bottom: 80px;
}

.question-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  li {
    max-width: 856px;
  }

}


@media (max-width: 767px) {
  .questions {
    padding-left: 13px;
    padding-right: 14px;
  }
}