/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  vertical-align: bottom;
  max-width: 100%;
  height: auto; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none;
  color: initial; }

body, button {
  font-family: 'Roboto', 'Noto Sans TC', sans-serif; }

.font-tw {
  font-family: 'Noto Sans TC', sans-serif; }

.white,
.white * {
  color: #ffffff; }

.bg-main {
  background-color: #AA0601; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.w-80 {
  width: 80px; }

.h-80 {
  height: 80px; }

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px; }

.mt-32 {
  margin-top: 32px; }

.mb-8 {
  margin-bottom: 8px; }

.mb-24 {
  margin-bottom: 24px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.lh-24 {
  line-height: 24px; }

.lh-30 {
  line-height: 30px; }

.lh-36 {
  line-height: 36px; }

.bold {
  font-weight: 700; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px; }

.nav a {
  font-weight: normal;
  display: block; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px; }
    .header .nav a {
      font-size: 20px;
      line-height: 30px;
      padding: 25px 0px; }

.footer .menu {
  padding-top: 48px;
  padding-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer .nav, .footer .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .nav {
  gap: 48px; }
  .footer .nav a {
    line-height: 24px; }

.social-media {
  gap: 32px; }
  .social-media .item {
    width: 48px; }

.contact {
  padding-bottom: 32px; }
  .contact .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 22px; }
  .contact .item:first-child {
    margin-bottom: 8px; }
  .contact .icon, .contact .item {
    font-size: 36px;
    line-height: 54px; }

.copyright {
  border-top: 1px solid #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .copyright .words {
    line-height: 24px; }
  .copyright .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 48px; }
    .copyright .links a {
      font-size: 14px;
      line-height: 21px;
      display: block;
      padding: 32px 0px; }

h1 {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  border-left: 8px solid #9F1213;
  padding-left: 16px; }

@media (max-width: 767px) {
  .container {
    padding: 0 0; }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .nav {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      gap: 0px; }
      .header .nav li {
        width: 50%;
        border: 1px solid #ffffff;
        text-align: center; }
      .header .nav a {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 32px; }
  .logo {
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footer {
    padding-left: 13px;
    padding-right: 14px; }
    .footer .nav {
      display: none; }
    .footer .top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .footer .contact, .footer .menu {
      padding-top: 24px; }
    .footer .social-media {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      gap: 8px; }
      .footer .social-media .item {
        width: 24px; }
    .footer .links {
      display: block; }
      .footer .links a {
        padding: 0px 0px; }
  .contact .icon, .contact .item {
    font-size: 16px;
    line-height: 24px; }
  .copyright {
    padding-top: 16px;
    padding-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start; }
    .copyright .words {
      margin-bottom: 8px; }
    .copyright .links a {
      line-height: 24px; }
    .copyright .links:first-child {
      margin-top: 8px; } }

.banner {
  background-image: url(../images/home-header.png);
  background-size: cover; }

.banner .desc {
  font-size: 36px;
  line-height: 54px;
  color: #650300; }

h1 {
  font-size: 64px;
  line-height: 96px;
  border: none;
  color: #650300;
  margin-bottom: 10px; }

.btn-buynow {
  font-weight: 500;
  background-color: #AA0601;
  color: #ffffff;
  border: 1px solid #AA0601; }

.banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 296px;
  padding-bottom: 296px; }

.questions {
  padding-top: 96px;
  padding-bottom: 80px; }

.question-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px; }
  .question-list li {
    max-width: 856px; }

@media (max-width: 767px) {
  .questions {
    padding-left: 13px;
    padding-right: 14px; } }

/*# sourceMappingURL=all.css.map */
